{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="title-profile">
        <a>Nom profile :</a>
    </div>
    <div class="title-gender-container"> <a>Genres plus regardé :</a> </div>
    <div class="gender-container">


    </div>
    <div class="info-profile">
        <div class="text-profile">
            <br>
            <a>Pseudo : {{ user[0].Username }}</a><a style="margin-left: 150px"><a>Ville : {{ user[0].Location }}</a>{#  ,<a>Pays</a>#}</a>
            <br>
            <a>Genre {{ user[0].Gender }}</a><a style="margin-left: 160px"><a>Âge : {# requette pas rapport au birthdays #}</a></a>
            <br>
            <br>
            <a>Jours total : {{ user[0].DaysWatched }} jours</a>
            <br>
            <a>Anime regardé : {{ user[0].Watching }}</a><a style="margin-left: 85px"><a>Anime fini : {{ user[0].Completed }}</a></a>
            <br><br>
            <a>Anime noté :{# requette avec jointure sur les rate #}</a><a style="margin-left: 110px"><a>Moyenne de note : {{ user[0].MeanScore }}</a></a>
        </div>
    </div>
    <div class="title-reco-container"> Top 5 recommendations :</div>
        <div class="recommendation-container">
            <div class="image-recomendation">
                <a>1.</a><img class="image-anime-reco" src="{{ asset('/assets/img/detail_anime_img/vertical-placeholder.jpg') }}" width="175" height="225" alt="">
    {#            <a>2.</a><img class="image-anime-reco" src="{{ asset('/assets/img/detail_anime_img/vertical-placeholder.jpg') }}" width="175" height="225" alt="">#}
    {#            <a>3.</a><img class="image-anime-reco" src="{{ asset('/assets/img/detail_anime_img/vertical-placeholder.jpg') }}" width="175" height="225" alt="">#}
            </div>
        </div>
    <div class="title-note-container"> <a>Note en fonction des genres :</a></div>
        <div class="note-gender-container ">


        </div>



{% endblock %}
