{% extends 'base.html.twig' %}

{% block title %}Anime Detail{% endblock %}

{% block body %}

    <div class="info-anime">
        <br>
        <div class="title-anime">
            {{ anime.Nom }}
        </div>
        <br>
        <div class="into-info-anime">
            <p>Note : {{ anime.Score|number_format(2) }}</p>
            <br>
            <p>Sortie : {{ anime.Premiered }}</p>
            <p>Genres : {{ anime.Genre }}</p>
            <p>Studio : {{ anime.Studios }}</p>
            <p>Favorite : {{ anime.Favorites }}</p>
            <br>
            <p>Synopsis : {{ anime.Synopsis }}</p>
        </div>
    </div>
    <div class="image-anime-container">
        <img class="image-anime-container" src="{{ asset('/assets/img/detail_anime_img/vertical-placeholder.jpg') }}">
    </div>




{% endblock %}
